body {

  background-color: #e8edf0;
}

.interactive-logo {

  .description {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    bottom: 50%;

    @media only screen and (min-width: 992px) {
      
      flex-direction: row;
    }

    &--default {

      display: flex;
      flex-direction: column;

      font-size: .9rem;
      font-family: 'Montserrat';
      color: #525455;
      text-justify: inter-word;
      text-align: justify;

      .bolder {

        font-weight: bolder;
      }

      .title {

        position: relative;
        margin: 2rem 0;

        text-align: center;
        -webkit-text-stroke: 0.1rem #e8edf0;
        font-weight: 800;
        color: #8e9ea8;
        word-spacing: 2rem;

        &::before {

          z-index: -1;

          position: absolute;
          left: 31%;
          top: -6.2rem;

          content: ' ';

          height: 12rem;
          width: 11rem;

          background-image: url($baseurl + '/assets/img/icons/brain.svg');
          background-repeat: no-repeat;
          background-size: 23rem;
          background-position: top;

          @media only screen and (min-width: 575px) {
            
            left: 38%;
          }

          @media only screen and (min-width: 768px) {
            
            left: 41%;
          }

          @media only screen and (min-width: 992px) {
            
            left: 35%;
            top: -7.7rem;

            background-size: 28rem;
          }

          @media only screen and (min-width: 1200px) {

            left: 37.5%;
            top: -7.4rem;

            background-size: 28rem;
          }
        }
      }

      .foo::before {

        display: none;

        position: absolute;
        left: -7rem;
        height: 3rem;
        width: 7rem;

        margin-top: -0.3rem;

        content: " ";

        background-image: url($baseurl + '/assets/img/icons/arrow-left.svg');
        background-repeat: no-repeat;
        background-size: cover;

        @media only screen and (min-width: 992px) {
          
          display: block !important;
        } 
      }
    }

    &_container {

      // display: none !important;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      // margin-left: 2rem;

      @media only screen and (min-width: 576px) {
        
        margin-left: 1rem;
      } 

      @media only screen and (min-width: 992px) {
        
        align-items: unset;
        justify-content: unset;
      } 

      // @media only screen and (min-width: 992px) {
        
      //   margin-left: 2rem;
      // } 
    }

    .icon {

      width: 2.5rem;
      margin: 0;

      @media only screen and (min-width: 575px) {
        
        width: 3.5rem;
      }

      @media only screen and (min-width: 768px) {
        
        margin-right: 0.6rem;
      }

      @media only screen and (min-width: 992px) {
        
        width: 5rem;
      } 
    }

    .text {

      font-family: 'Montserrat';
      font-weight: 800;
      text-transform: uppercase;
      font-size: .8rem;
      white-space: nowrap;

      @media only screen and (min-width: 576px) {
        
        font-size: 1rem;
      } 

      @media only screen and (min-width: 768px) {
        
        font-size: 1.5rem;
      } 
    }
  }
}
