.interactive-logo {

  margin-top: 3rem;
  margin-bottom: 3rem;

  .logo {

    width: 10rem;

    @media only screen and (min-width: 576px) {
      
      width: 14rem;
    }
    @media only screen and (min-width: 768px) {
      
      width: 16rem;
    }
    @media only screen and (min-width: 992px) {
      
      width: 25rem;
    } 

    &_container {

      display: flex;
      justify-content: center;
    }
  }

  .highlighted {
  
    fill: #e6e7e9;
    transition: fill 100ms;
  }

  .clipping {
    clip-path: url(#SVGID_2_);
  }

  .stripe {

    cursor: pointer;
    transition: fill 100ms;

    &:hover {

      fill: #e6e7e9;
      transition: fill 100ms;
    }

    &.highlighted {

      fill: #e6e7e9;
      transition: fill 100ms;
    }
  }

  .fill {

    &--yellow { fill: #F8CF0A; }
    &--light-blue { fill: #2CC3EB; }
    &--dark-blue { fill: #15BBC0; }
    &--gray { fill: #90A89B; }
    &--orange { fill: #F6921E; }
    &--pink { fill: #E93B94; }
    &--purple { fill: #B900FF; }
    &--salmon { fill: #F16B45; }
    &--green { fill: #8BC53F; }
    &--red { fill: #FF422A; }
    &--white { fill: #FFFF; }
  }
}
