.anim {

  &--fade-in-out{

    transition-property: visibility, opacity;
    transition-duration: 200ms;
    transition-delay: 0;
  
    &.hidden {
  
      visibility: hidden;
      opacity: 0;
  
      transition-property: opacity, visibility;
      transition-duration: 200ms;
      transition-delay: 0;
    }
  }
}
