<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="interactive-logo container">
      {{ content }}

      <div class="row d-flex justify-content-center">
        <div class="logo_container col-7 col-sm-6 col-lg-5">
          <!-- inline svg, so we can have access to its elements -->
          <svg id="Layer_1"
               version="1.1"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink"
               xml:space="preserve"
               x="0px" y="0px"
               viewBox="0 0 173.94 186.62"
               class="logo">
          
            <g>
              <defs>
                <rect id="SVGID_1_" width="173.94" height="186.62"/>
              </defs>
          
              <clipPath id="SVGID_2_">
                <use xlink:href="#SVGID_1_" style="overflow:visible;"/>
              </clipPath>
              
              <path id="logoStripe1"
                    data-stripe-target="#description1"
                    class="stripe fill--green clipping"
                    d="M72.84,11.35C55.18,13.86,38.16,21.9,24.58,35.49C10.99,49.07,2.95,66.09,0.44,83.75L72.84,11.35z"/>
              
              <path id="logoStripe2"
                    data-stripe-target="#description2"
                    class="stripe fill--green clipping"
                    d="M72.84,11.35C55.18,13.86,38.16,21.9,24.58,35.49C10.99,49.07,2.95,66.09,0.44,83.75L72.84,11.35z"/>

              <path id="logoStripe3"
                    data-stripe-target="#description3"
                    class="stripe fill--yellow clipping"
                    d="M83.34,0.85l-72.4,72.4c-1.14,8-1.14,16.13,0,24.13l96.53-96.53C99.47-0.28,91.34-0.28,83.34,0.85"/>

              <path id="logoStripe4"
                    data-stripe-target="#description4"
                    class="stripe fill--dark-blue clipping"
                    d="M96.97,11.35L0.44,107.88c0.92,6.5,2.6,12.92,5.03,19.1L116.08,16.38C109.89,13.96,103.47,12.28,96.97,11.35"/>

              <path id="logoStripe5"
                    data-stripe-target="#description5"
                    class="stripe fill--orange clipping"
                    d="M110.61,21.85L0,132.46c2.16,5.51,4.9,10.83,8.25,15.88L126.49,30.1C121.44,26.75,116.11,24.01,110.61,21.85"/>

              <path id="logoStripe6"
                    data-stripe-target="#description6"
                    class="stripe fill--pink clipping"
                    d="M131.96,24.63L13.72,142.87c3.11,4.69,6.73,9.14,10.86,13.28L145.23,35.49   C141.1,31.36,136.65,27.74,131.96,24.63"/>

              <path id="logoStripe7"
                    data-stripe-target="#description7"
                    class="stripe fill--red clipping"
                    d="M150.92,29.8L30.26,150.46c4.13,4.13,8.58,7.75,13.27,10.86L161.78,43.07   C158.67,38.38,155.05,33.93,150.92,29.8"/>

              <path id="logoStripe8"
                    data-stripe-target="#description8"
                    class="stripe fill--gray clipping"
                    d="M153.46,51.39L35.22,169.63c5.05,3.35,10.38,6.09,15.88,8.25L161.71,67.27   C159.56,61.76,156.81,56.44,153.46,51.39"/>

              <path id="logoStripe9"
                    data-stripe-target="#description9"
                    class="stripe fill--purple clipping"
                    d="M157.99,70.99L47.39,181.59c6.19,2.43,12.6,4.1,19.1,5.03l96.53-96.53C162.1,83.59,160.42,77.18,157.99,70.99"/>

              <path id="logoStripe10"
                    data-stripe-target="#description10"
                    class="stripe fill--light-blue clipping"
                    d="M173.08,80.03l-96.53,96.53c8,1.14,16.13,1.14,24.13,0l72.4-72.4C174.22,96.16,174.22,88.03,173.08,80.03"/>

              <path id="logoStripe11"
                    data-stripe-target="#description11"
                    class="stripe fill--salmon clipping"
                    d="M96.97,180.28c17.66-2.51,34.68-10.55,48.27-24.14c13.58-13.58,21.63-30.61,24.13-48.27L96.97,180.28z"/>
          
              <path class="fill--white clipping" 
                    d="M84.52,73.82c-1.27-0.76-2.85-0.86-4.27-0.48c-7.84,2.12-14.82,6.43-20.23,12.39l0-7.65   c0-3.15-2.56-5.71-5.71-5.71s-5.71,2.56-5.71,5.71v71.69c0,2.79,2.26,5.06,5.06,5.06h1.3c2.79,0,5.06-2.27,5.06-5.06v-35.58   c0-14.11,9.48-26.5,23.07-30.18c2.35-0.64,3.98-2.77,3.98-5.2v-0.53C87.07,76.45,86.13,74.78,84.52,73.82"/>
              <path class="fill--white clipping" 
                    d="M91.13,71.73c-0.9,0-1.79,0.04-2.67,0.09c1.68,1.7,2.64,3.98,2.64,6.45v0.53c0,1.44-0.35,2.81-0.94,4.05   c0.33-0.01,0.65-0.05,0.98-0.05c17.93,0,32.35,15.02,31.35,33.17c-0.85,15.52-13.32,28.32-28.82,29.54   c-10.98,0.87-20.86-3.94-27.09-11.77c-0.84-1.06-2.53-0.49-2.53,0.86v10.97c0,0.86,0.38,1.68,1.06,2.2   c7.61,5.91,17.28,9.29,27.75,8.88c21.54-0.85,39.33-18.21,40.66-39.73C135.04,92.23,115.48,71.73,91.13,71.73"/>
              <path class="fill--white clipping" 
                    d="M54.3,68.35c2.14,0,4.1,0.73,5.71,1.9V40.38c0-2.79-2.27-5.06-5.06-5.06h-1.3c-2.79,0-5.06,2.27-5.06,5.06   v29.83C50.2,69.05,52.17,68.35,54.3,68.35"/>

            </g>
          </svg>
        </div>

        <div class="description_container col-3 col-sm-3 col-lg-5">
          <div id="description1"
                class="description--default anim--fade-in-out">

            <div class="description position-relative d-lg-none">
              <img src="{{ site.baseurl}}/assets/img/icons/design.png"
                    class="icon">
              
              <p class="text text--green">design</p>
            </div>

            <div class="d-none d-lg-block">
              <h1 class="title">thinkers makers</h1>
              
              <p class="">Sabemos que hoje em dia precisamos de profissionais que entendam de pessoas e não só de pixels e bits.</p>
              
              <p class="">Por isso usamos os melhores lados do cérebro: o esquerdo e o direito, isso nos torna tão ousados criativamente quanto organizados.</p>

              <p class="">Apoiamos novas ideias, estratégias aprofundadas e seviços de excelência aos nossos parceiros, permitindo nos adequar ao tamanho e escala de diferentes projetos.</p>

              <p class="">Depois de décadas aprendemos como nos adaptar a tudo.</p>

              <p class="foo bolder">Para saber mais sobre nossas soluções, clique nas cores da esfera <span class="d-lg-none">acima</span><span class="d-none d-lg-inline">ao lado</span>.</p>
            </div>
          </div>

          <div id="description2"
                class="description anim--fade-in-out hidden">

            <img src="{{ site.baseurl}}/assets/img/icons/design.png"
                  class="icon">
            
            <p class="text text--green">design</p>
          </div>

          <div id="description3"
                class="description anim--fade-in-out hidden">

            <img src="{{ site.baseurl}}/assets/img/icons/megafone.png"
                  class="icon">
            
            <p class="text text--yellow">advertising</p>
          </div>

          <div id="description4"
                class="description anim--fade-in-out hidden">

            <img src="{{ site.baseurl}}/assets/img/icons/human-resources.png"
                  class="icon">
            
            <p class="text text--dark-blue">human-resources</p>
          </div>

          <div id="description5"
                class="description anim--fade-in-out hidden">

            <img src="{{ site.baseurl}}/assets/img/icons/digital.png"
                  class="icon">
            
            <p class="text text--orange">digital</p>
          </div>

          <div id="description6"
                class="description anim--fade-in-out hidden">

            <img src="{{ site.baseurl}}/assets/img/icons/endomarketing.png"
                  class="icon">
            
            <p class="text text--pink">endomarketing</p>
          </div>

          <div id="description7"
                class="description anim--fade-in-out hidden">

            <img src="{{ site.baseurl}}/assets/img/icons/branding.png"
                  class="icon">
            
            <p class="text text--red">branding</p>
          </div>

          <div id="description8"
                class="description anim--fade-in-out hidden">

            <img src="{{ site.baseurl}}/assets/img/icons/planejamento.png"
                  class="icon">
            
            <p class="text text--gray">planejamento</p>
          </div>

          <div id="description9"
                class="description anim--fade-in-out hidden">

            <img src="{{ site.baseurl}}/assets/img/icons/marketing.png"
                  class="icon">
            
            <p class="text text--purple">marketing</p>
          </div>

          <div id="description10"
                class="description anim--fade-in-out hidden">

            <img src="{{ site.baseurl}}/assets/img/icons/healthy-care.png"
                  class="icon">
            
            <p class="text text--light-blue">healthy-care</p>
          </div>

          <div id="description11"
                class="description anim--fade-in-out hidden">

            <img src="{{ site.baseurl}}/assets/img/icons/imobiliario.png"
                  class="icon">
            
            <p class="text text--salmon">imobiliario</p>
          </div>
        </div>

        <div class="col-lg-5 d-lg-none" style="margin-top: 4rem; padding: 0 2rem;">
          <div class="description--default anim--fade-in-out">

            <h1 class="title">thinkers makers</h1>
            
            <p class="">Sabemos que hoje em dia precisamos de profissionais que entendam de pessoas e não só de pixels e bits.</p>
            
            <p class="">Por isso usamos os melhores lados do cérebro: o esquerdo e o direito, isso nos torna tão ousados criativamente quanto organizados.</p>

            <p class="">Apoiamos novas ideias, estratégias aprofundadas e seviços de excelência aos nossos parceiros, permitindo nos adequar ao tamanho e escala de diferentes projetos.</p>

            <p class="">Depois de décadas aprendemos como nos adaptar a tudo.</p>

            <p class="foo bolder">Para saber mais sobre nossas soluções, clique nas cores da esfera <span class="d-lg-none">acima</span><span class="d-none d-lg-inline">ao lado</span>.</p>
          </div>
        </div>
      </div>
    </div>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    
    <script src='{{ site.baseurl}}/assets/js/interactive-logo.js'></script>
    <script src='{{ site.baseurl}}/assets/js/main.js'></script>
  </body>
</html>
