.text {

  &--yellow {
  
    color: var(--yellow);
  }
  &--light-blue {
  
    color: var(--light-blue);
  }
  &--dark-blue {
  
    color: var(--dark-blue);
  }
  &--gray {
  
    color: var(--gray);
  }
  &--orange {
  
    color: var(--orange);
  }
  &--pink {
  
    color: var(--pink);
  }
  &--purple {
  
    color: var(--purple);
  }
  &--salmon {
  
    color: var(--salmon);
  }
  &--green {
  
    color: var(--green);
  }
  &--red {
  
    color: var(--red);
  }
  &--white {
  
    color: var(--white);
  }
}
