:root {

  --yellow: #F8CF0A;
  --light-blue: #2CC3EB;
  --dark-blue: #15BBC0;
  --gray: #90A89B;
  --orange: #F6921E;
  --pink: #E93B94;
  --purple: #B900FF;
  --salmon: #F16B45;
  --green: #8BC53F;
  --red: #FF422A;
  --white: #FFFF;
}
